<section class="register">
  <div>
    <h2>Register Form</h2>
    <form
      class="register_form"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <div class="register_form-container">
        <input
          type="email"
          placeholder="Email"
          class="input"
          formControlName="email"
        />
        <input
          type="password"
          placeholder="Password"
          class="input"
          formControlName="password"
        />
      </div>
      <button class="btn">Register</button>
    </form>
    <button class="btn btn-google" (click)="loginWithGoogle()">
      Login with Google
      <img src="assets/logo/logo-google.png" alt="logo-google" />
    </button>
    <div class="footer">
      <p class="message">Already registered?</p>
      <a routerLink="/login" class="register_login-link">Login</a>
    </div>
  </div>
</section>
